# Gender Prediction

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('gender.csv')
data.head(5)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [4]:
data.shape

(5001, 8)

In [5]:
data.describe()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000
mean,0.869626,13.181484,5.946311,0.493901,0.507898,0.493101,0.498900
std,0.336748,1.107128,0.541268,0.500013,0.499988,0.500002,0.500049
min,0.000000,11.400000,5.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,12.200000,5.500000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,13.100000,5.900000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,14.000000,6.400000,1.000000,1.000000,1.000000,1.000000
max,1.000000,15.500000,7.100000,1.000000,1.000000,1.000000,1.000000

In [6]:
data.value_counts()

long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  lips_thin  distance_nose_to_lip_long  gender
1          14.2               6.5                 0          0          0          0                          Female    9
           13.7               6.1                 0          0          0          0                          Female    8
           12.5               5.7                 0          0          0          0                          Female    7
           12.7               5.9                 1          1          1          1                          Male      7
           14.1               6.0                 0          0          0          0                          Female    7
                                                                                                                       ..
           12.9               5.1                 0          1          0          0                          Female    1
0          15.3               5.8                 1          1          0          1                          Male      1
                              5.3                 1          0          0          1                          Male      1
                              5.1                 1          1          0          1                          Male      1
           11.4               5.2                 0          0          0          0                          Female    1
Name: count, Length: 3233, dtype: int64

In [7]:
data.gender = [1 if i == "Male" else 0 for i in data.gender]

In [8]:
data.gender

0       1
1       0
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: gender, Length: 5001, dtype: int64

In [9]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0

In [10]:
X = data.drop(["gender"],axis=1)

Y = data.gender.values

In [11]:
X

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [12]:
Y

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size = 0.3 , random_state = 1)

In [14]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, Y_train)

print("Training Accuracy is : ",gnb.score(X_train , Y_train))
print("Testing Accuracy is : ", gnb.score(X_test , Y_test))

Training Accuracy is :  0.97
Testing Accuracy is :  0.9713524317121919

In [15]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X_train, Y_train)

print("Training Accuracy is : ",mnb.score(X_train , Y_train))
print("Testing Accuracy is : ", mnb.score(X_test , Y_test))

Training Accuracy is :  0.9565714285714285
Testing Accuracy is :  0.960692871419054

In [16]:
from sklearn.naive_bayes import BernoulliNB

bnb = BernoulliNB()
bnb.fit(X_train, Y_train)

print("Training Accuracy is : ",bnb.score(X_train , Y_train))
print("Testing Accuracy is : ", bnb.score(X_test , Y_test))

Training Accuracy is :  0.9585714285714285
Testing Accuracy is :  0.9640239840106596

In [17]:
long_hair = int(input("Enter Person's long_hair"))
forehead_width_cm = float(input("Enter Persons's forehead_width_cm"))
forehead_height_cm = float(input("Eneter person's forehead_height_cm"))
nose_wide = int(input("Enter Persons's nose_wide"))
nose_long = int(input("Enter Persons's nose_long"))
lips_thin = int(input("Enter Person's lips_thin"))
distance_nose_to_lip_long = int(input("Enter Person's distance_nose_to_lip_long"))
person = [[long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long]]
result = gnb.predict(person)
print(result)

if result == 1:
    print("Person may be Male")
else:
    print("person may be  female")

Enter Person's long_hair 23
Enter Persons's forehead_width_cm 2.3
Eneter person's forehead_height_cm 5.2
Enter Persons's nose_wide 2
Enter Persons's nose_long 1
Enter Person's lips_thin 4
Enter Person's distance_nose_to_lip_long 3

[1]
Person may be Male

In [18]:
long_hair = int(input("Enter Person's long_hair"))
forehead_width_cm = float(input("Enter Persons's forehead_width_cm"))
forehead_height_cm = float(input("Eneter person's forehead_height_cm"))
nose_wide = int(input("Enter Persons's nose_wide"))
nose_long = int(input("Enter Persons's nose_long"))
lips_thin = int(input("Enter Person's lips_thin"))
distance_nose_to_lip_long = int(input("Enter Person's distance_nose_to_lip_long"))
person = [[long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long]]
result = mnb.predict(person)
print(result)

if result == 1:
    print("Person may be Male")
else:
    print("person may be  female")

Enter Person's long_hair 0
Enter Persons's forehead_width_cm 14.0
Eneter person's forehead_height_cm 5.4
Enter Persons's nose_wide 0
Enter Persons's nose_long 0
Enter Person's lips_thin 1
Enter Person's distance_nose_to_lip_long 0

[0]
person may be  female

In [19]:
long_hair = int(input("Enter Person's long_hair"))
forehead_width_cm = float(input("Enter Persons's forehead_width_cm"))
forehead_height_cm = float(input("Eneter person's forehead_height_cm"))
nose_wide = int(input("Enter Persons's nose_wide"))
nose_long = int(input("Enter Persons's nose_long"))
lips_thin = int(input("Enter Person's lips_thin"))
distance_nose_to_lip_long = int(input("Enter Person's distance_nose_to_lip_long"))
person = [[long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long]]
result = bnb.predict(person)
print(result)

if result == 1:
    print("Person may be Male")
else:
    print("person may be  female")

Enter Person's long_hair 1
Enter Persons's forehead_width_cm 13.5
Eneter person's forehead_height_cm 5.9
Enter Persons's nose_wide 0
Enter Persons's nose_long 0
Enter Person's lips_thin 0
Enter Person's distance_nose_to_lip_long 0

[0]
person may be  female